/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.modal-over {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .modal-center {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    
  }
  
  /* Modal Content */
  
  .modal-content1 {
      background-color: #fefefe;
      margin: 25px 0px 0px 117px;
      padding: 20px;
      border: 1px solid #888;
      width: 89%;
  }
  .modal-content2 {
      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 86%;
  }
  
  /* The Close Button */
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /*layout*/
  
  .borderBottom{
    background-color: #f3f3f3 !important;
    border-bottom: 2px solid #00a2e8 !important;
  }

  .slideFromLeft {
    position: relative;
    animation: slideIn .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slideIn {
    from {
        left: -50%;
        transition: slideIn .8s;
    }
    to {
        left: 0%;
    }
}

.form {width:400px;}

#text1 {float:right;
    width:100%;}

#text2 {float:left;
    width:100%;}

    .onoffswitch {
        position: relative; width: 90px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
         border-radius: 15px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #23b7e5; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; margin: 6px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 56px;
        border: 1px solid #7266ba; border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }
    .mb-30{
        margin-bottom: 30px;
    }
    .mt-30{
        margin-top: 30px;
    }

    .form-area{
    background-color: #FAFAFA;
	padding: 30px;
	margin: 10px 0px 60px;
	
	}
    
        .invalid-feedback1 {
            margin-top: .25rem;
            font-size: .875rem;
            color: #dc3545;
        }
    .req{
  color:red;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* .anchor {
  color: #fff !important;
} */

    
.home-newsletter {
    padding: 80px 0;
    background: #c3bfbf;
    }
    
    .home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
    .home-newsletter .single .form-control {
    height: 50px;
     background: rgba(255, 255, 255, 0.6); 
    border-color: transparent;
    border-radius: 20px 0 0 20px; }
    .home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
    .home-newsletter .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #62c3ec;
    color: #fff;
    }


  
    #pswd_info {
        position:relative;
        width:95%;
        padding:5px;
        font-size:12px;
      
    }
    
    #pswd_info h4 {
      margin:0 0 10px 0;
      padding:0;
      font-size:12px;
      font-weight:normal;
    color:#fff;
    }
    
    .invalid {
      background:url(../images/invalid.png) no-repeat 0 50%;
      
      line-height:24px;
      color:#ec3f41;
    }
    .valid {
      background:url(../images/valid.png) no-repeat 0 50%;
      line-height:24px;
      color:#3a7d34;
    }
    #pswd_info {
      display:none;
    }

    .input-lg {
        height: 42px !important;
        font-size: 18px;
        line-height: 1.33333;
        padding: 10px 16px;
        border-radius: 6px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .mt-30 {
        margin-top: 30px;
    }

    .form-area {
        background-color: #FAFAFA;
        padding: 30px;
        margin: 10px 0px 60px;
    }